.categories {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

    a {
        text-decoration: none;
    }
    .category-tag {
        font-family: monospace;
        align-items: center;
        border-radius: .75rem;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        display: flex;
        box-shadow: inset 0 0 0 2px slategray;
        background-color: #eee;
    }
    .category-icon {
        background-color: slategrey;
        fill: white;
        color: white;
        padding: .3rem .5rem 0 .6rem;
    }
    .category-label {
        padding: .25rem .75rem .25rem .5rem;
    }
}