body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background: slategrey;
}

main {
    background: white;
    display: block;
    margin: -8px 0 0 0;
    padding: 1em;
    border-radius: 3px;
    position: relative;
    border: 3px solid white;
    min-height: 75vh;
}

.layout-wrapper {
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------
     header
--------------------------------------------- */
header {
    height: 30px;
    .header-box {
        position: absolute;
        top: 1rem;
        right: 0;
        width: 40%;
        color: #444;
        padding: 8px 0 18px 8px;
        border-radius: 6px;
        margin: 0;
    
        &::before {
            content: '';
            position: absolute;
            top: 6px;
            right: 0;
            bottom: .5em;
            left: 0;
            z-index: -1;
            border-bottom: none;
            border-radius: 10px 0 0 10px;
            box-shadow: 0 2px rgba(112, 128, 144, .5) inset;
            transform: translateZ(0) perspective(40px) rotateX(-2deg);
            transform-origin: bottom right;
            background: rgb(192, 204, 216);
        }
    
        h1 {
            margin: 0;
            padding: 0;
            font-family: "Montserrat Subrayada", arial, sans-serif;
            color: black;
            text-decoration: none;
        }    
    }
}

/* ---------------------------------------------
     navigation

     originated from http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/
--------------------------------------------- */
nav.nav-main {
    margin-top: 3rem;
    display: flex;

    a {
        position: relative;
        margin: 0 .5rem 0 0;
        padding: 1.5em 3em 1em 1em;
        font-family: "Montserrat Subrayada", arial, sans-serif;
        color: #444;
        text-decoration: none;

        &::before {
            transition: all .2s linear;
        }

        &::before {
            content: ''; 
            position: absolute;
            top: 0;
            right: 0;
            bottom: .5em;
            left: 0;
            z-index: -1;
            border-bottom: none;
            border-radius: 10px 10px 0 0;
            box-shadow: 0 2px hsla(0, 0%, 100%, .5) inset;
            transform: translateZ(0) perspective(5px) rotateX(2deg);
            transform-origin: bottom left;
        }
    }

    a::before {
        border: .1em solid #aaa;
    }

    a.selected {
        z-index: 2;
        color: white;
        text-shadow: 0 0 4px #555;

        &::before {
            margin-bottom: -1px;
            border-top-width: 1px;
            border-bottom: 0;
        }
    }
}

nav.nav-sub {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 3px 3px 0 0;

    a {
        display: inline-block;
        padding: 8px 0 8px 8px;
        font-size: .9em;
        color: #ddd;
        text-decoration: none;

        &::after {
            display: inline-block;
            content: '';
            width: 1px;
            height: 15px;
            background: white;
            margin: 0 0 0 8px;
        }

        &:last-child::after {
            display: none;
        }
    }
}

/* ---------------------------------------------
     footer
--------------------------------------------- */
footer {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    a {
        padding: 0 1rem;
        color: white;
    }
}