.home-columns {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    transition: all .3s ease-in-out;
    @media (max-width: 50em) {
        flex-direction: column;
        gap: 0;
    }

    .site-section-cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .site-section-card {
            display: flex;
            border-radius: 1rem;
            padding: 1rem;
            background: orange;
            h3, p {
                padding: 0;
                margin: 0;
            }
        }
    }

    .post-card {
        width: 300px;
        padding: 1rem;
        display: flex;
        border-radius: .25rem;
        box-shadow: 0px 3px 10px #bebebe;
        transition: all .3s ease-in-out;
        background: white;

        img {
            width: 100%;
            height: auto;
            margin-right: 1rem;
        }

        .no-underline {
            text-decoration-thickness: 0;
        }

        h3 {
            font-family: monospace;
            font-size: 24px;
            color: #0d3d6d;
            padding-top: .5rem;
            margin: 0;
            transition: .1s ease-in-out;

        }

        p {
            height: 100%;
            color: #252525;
        }

        h4 {
            font-family: monospace;
            color: #474747;
            text-transform: uppercase;
            font-weight: 200;
        }

        &:hover {
            box-shadow: 0px 4px 15px #b0b0b0;
            transform: translateY(-5px);
            h3 {
                color: coral;
            }
        }
    }
}
