.home-columns {
    display: flex;
    flex-direction: column;

    .post-card {
        padding: 1rem;
        display: flex;
        border-radius: .25rem;
        box-shadow: 0px 3px 10px #bebebe;
        transition: all .3s ease-in-out;

        img {
            float: left;
            width: 300px;
            height: auto;
            margin-right: 1rem;
        }

        .no-underline {
            text-decoration-thickness: 0;
        }

        h3 {
            padding-top: 1rem;
            margin: 0;
            color: black;
        }

        p {
            height: 100%;
            color: #252525;
        }

        h5 {
            color: #707070;
            text-transform: uppercase;
            font-weight: 200;
        }

        &:hover {
            box-shadow: 0px 4px 15px #b0b0b0;
            transform: translateY(-5px);
        }
    }
}
