.home-columns {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    transition: all .3s ease-in-out;
    @media (max-width: 50em) {
        flex-direction: column;
        gap: 0;
    }

    .post-card {
        width: 300px;
        padding: 1rem;
        display: flex;
    }
}
