@use 'sass:color';
@use "./variables";

@function tint($color, $percentage) {
	@return color.mix(white, $color, $percentage);
}

main {
	background: #f7f7f7;
	display: block;
	margin: -9px 0 0 0;
	padding: 1em;
	border-radius: 3px;
	position: relative;
	min-height: 75vh;

	.content-wrapper {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
}