.posts-wrapper {
    max-width: 940px;
    margin: 2rem 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, auto);

    .post-card {
        max-width: 250px;
        padding: 1rem 1rem .25rem 1rem;
        border-radius: .25rem;
        box-shadow: 2px 2px 10px #bebebe;

        img {
            width: 100%
        }

        .no-underline {
            text-decoration-thickness: 0;
        }

        h3 {
            padding-top: 1rem;
            margin: 0;
            color: black;
        }

        p {
            height: 100%;
            color: #252525;
        }

        h5 {
            color: #707070;
            text-transform: uppercase;
            font-weight: 200;
        }

        &:hover {
            box-shadow: 4px 4px 15px #b0b0b0;
            transform: translateY(-5px);
            transition: all .3s ease-in-out;
        }
    }
}

.post-header {
    h2 {
        margin-bottom: .5rem;
    }
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    @media screen and (max-width: 920px) {
        flex-direction: column;
    }
}

.post-content {
    img {
        width: 400px;
    }
}