.posts-wrapper {

    @media screen and (min-width: 40em) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     
        .post-card {
            flex: 0 1 calc(50% - 1em);
        }
    }

    @media screen and (min-width: 60em) {
        .post-card {
            flex: 0 1 calc(25% - 1em);
        }
    }

    .post-card {
        border: 2px solid #ccc;
        border-radius: .5rem;
        margin-bottom: 1rem;
        
        a {
            text-decoration: none;
        }

        .post-header {
            display: flex;
            background-color: #eee;
            padding: .5rem;
            border-radius: .5rem .5rem 0 0;
            img {
                border-radius: .25rem;
                margin-right: .5rem;
            }
            .post-title {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }
            .post-date {
                font-size: .8rem;
                text-align: right;
                color: #666;
                font-style: italic;
            }
        }

        .post-content {
            padding: 0 1rem;
        }

        h3 {
            margin: 0;
        }
        > * {
            padding: 0 1rem;
        }
    }
}

.post-content {
    img {
        width: 400px;
    }
}