.posts-wrapper {
    max-width: 940px;
    margin: 2rem 0;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto);

    .post-card {
        max-width: 250px;
        padding: 1rem 1rem .25rem 1rem;
        border-radius: .25rem;
        box-shadow: 0px 3px 10px #bebebe;
        transition: all .3s ease-in-out;

        img {
            width: 100%
        }

        .no-underline {
            text-decoration-thickness: 0;
        }

        h3 {
            font-family: monospace;
            font-size: 26px;
            color: #000099;
            padding-top: .5rem;
            margin: 0;
            transition: .1s ease-in-out;
        }

        p {
            height: auto;
            color: #252525;
        }

        h4 {
            font-family: monospace;
            color: #707070;
            text-transform: uppercase;
            font-weight: 200;
        }

        &:hover {
            box-shadow: 0px 4px 15px #b0b0b0;
            transform: translateY(-5px);
            h3 {
                color: coral;
            }
        }
    }
}

.post-header {
    h2 {
        margin-bottom: .5rem;
    }
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    @media screen and (max-width: 920px) {
        flex-direction: column;
    }
}