.post-card {
    max-width: 250px;
    padding: 1rem 1rem .25rem 1rem;
    border-radius: .25rem;
    box-shadow: 0px 3px 10px #bebebe;
    transition: all .3s ease-in-out;
    background: white;

    img {
        width: 100%
    }

    h3 {
        font-family: monospace;
        font-size: 24px;
        color: #0d3d6d;
        padding-top: .5rem;
        margin: 0;
        transition: .1s ease-in-out;
    }

    .post-date {
        font-family: monospace;
        color: #474747;
        text-transform: uppercase;
        font-weight: 200;
    }

    &:hover {
        box-shadow: 0px 4px 15px #b0b0b0;
        transform: translateY(-5px);
        cursor: pointer;
        h3 {
            color: coral;
        }
    }
}