.posts-wrapper {
    margin-top: 2rem;

    @media screen and (min-width: 40em) {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        //justify-content: space-between;
     
        .post-card {
            flex: 0 1 calc(50% - 1em);
        }
    }

    @media screen and (min-width: 60em) {
        .post-card {
            flex: 0 1 calc(25% - 1em);
        }
    }

    .post-card {
        max-width: 260px;
        //border: 2px solid #ccc;
        //border-radius: 1rem;
        //margin-bottom: 1rem;
        box-shadow: 2px 2px 10px #bebebe;;

        img {
            //float: right;
            //height: 100%;
            width: 100%;
            //margin: 0 1rem 0 1rem;
        }

        //.post-content {
            //padding: 1rem;
        //}

        h3 {
            padding: 1rem 1rem 0 1rem;
            margin: 0;
            //background-color: #eee;
            //padding: 1rem;
            //border-radius: .5rem .5rem 0 0;
        }

        h5 {
            padding: 0 1rem;
            color: #707070;
            text-transform: uppercase;
            font-weight: 200;
        }

        p {
            padding: 0 1rem 1rem 1rem;
            //color: #404040;
            :link {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.post-header {
    display: flex;
    align-items: center;
    background-color: red;
}

.post-content {
    img {
        width: 400px;
    }
}