.posts-wrapper {
    margin-top: 2rem;

    @media screen and (min-width: 40em) {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        //justify-content: space-between;
     
        .post-card {
            flex: 0 1 calc(50% - 1em);
        }
    }

    @media screen and (min-width: 60em) {
        .post-card {
            flex: 0 1 calc(25% - 1em);
        }
    }

    .post-card {
        max-width: 260px;
        padding: 1rem;
        border-radius: .25rem;
        box-shadow: 2px 2px 10px #bebebe;

        img {
            width: 100%
        }

        //.post-content {
            //padding: 1rem;
        //}

        .no-underline {
            text-decoration-thickness: 0;
        }

        h3 {
            padding: 1rem 0 0 0;
            margin: 0;
        }

        h5 {
            color: #707070;
            text-transform: uppercase;
            font-weight: 200;
        }

        p {
            height: 100%;
        }
    }
}


.post-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    @media screen and (max-width: 920px) {
        flex-direction: column;
    }
}

.post-content {
    img {
        width: 400px;
    }
}