.posts-wrapper {
    max-width: 940px;
    margin: 2rem 0;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto);

    .post-card {
        max-width: 250px;
        padding: 1rem 1rem .25rem 1rem;
    }
}

.post-header {
    h2 {
        margin-bottom: .5rem;
    }
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    @media screen and (max-width: 920px) {
        flex-direction: column;
    }
}

.post-content {
    img {
        max-width: 100%;
        height: auto;
    }
}